#head{
	
	text-align:center;
	height: 60px;
}

#inputs{
    height: 25%;
    position: bottom;
	width:50%;  
	margin-left:35%;
	}	



body{
    background-image: url("clear.png");
    background-position:fixed;
    background-size: cover;
    opacity:.8;
    }

h1{
	text-align:center;
	text-decoration:underline;
	}

.in{

width:30%;
height :25%;
}	


#refresh{
	margin-left: 50%;
	position:absolute;
	width:110px;
	height:40px;
	
}

.answersdiv
{
	position:relative;
	background-color:white;
	width: 60%;
	height: 40%;
	padding-top: 25%;
	margin: 0 auto;
	word-break: break-all;
	opacity: 0.6;
	border-radius: 15px;
	border-style:outset;
	border-width: 3px;
	border-color:#f2f2f2;
	box-shadow: 0px 0px 25px #f7e7ce;

}
#results{
	position: absolute	;
	top: 10%;
}
#checkButton{
	
	top:80%;
	left: 19%;
}
#textBox{
	position: absolute;
	top:80%;
	width:30%;
	left: 35%;
	margin-left: 10%;
}
